@charset "UTF-8";
/*----------
共通部分
----------*/
html {
  font-size: 100%;
}

body {
  font-family: YuGothic, sans-serif;
  color: #1B224C;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, dl {
  list-style: none;
}

summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

/*----------
ヘッダー
----------*/
.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 10px 0 15px;
  background-color: #fff;
}
.header__logo {
  width: 136px;
  height: 27px;
  line-height: 0;
  margin-right: 30px;
}
.header__menu {
  display: flex;
  gap: 30px;
}
.header__menu-item {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}
.header__contacts {
  display: flex;
  align-items: end;
  margin-left: auto;
}
.header__contacts-text {
  margin-right: 23px;
  text-align: end;
}
.header__contacts-text-time {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}
.header__contacts-text-tel {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.header__contacts-text-tel img {
  margin-right: 5px;
}
.header__contacts-btn {
  display: flex;
  align-items: center;
}
.header__contacts-btn--orange {
  width: 142px;
  line-height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  background-color: #F5A623;
}
.header__contacts-btn--orange a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.header__contacts-btn--blue {
  width: 137px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  background-color: #1B224C;
}
.header__contacts-btn--blue a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

/*----------
メインビジュアル
----------*/
.main-visual {
  text-align: center;
  background-image: url(../img/fv.jpg);
  background-size: cover;
  background-position: center top;
  backdrop-filter: blur(15px);
  height: 476px;
  padding-top: 116px;
}
.main-visual__title {
  color: #FFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 37px;
}
.main-visual__text {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 37px;
}
.main-visual-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-visual-flex__btn {
  min-width: 260px;
  max-width: 460px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: #F5A623;
  border-radius: 31px;
  padding: 22px;
  margin-bottom: 22px;
}
.main-visual-flex__contact {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
}

/*----------
パンくずリスト
----------*/
.breadcrumb {
  background: #F8F8F8;
  line-height: 50px;
}
.breadcrumb-list {
  display: flex;
  color: #1B224C;
  font-size: 12px;
  font-weight: 500;
}
.breadcrumb-list__item--link {
  text-decoration: underline;
}
.breadcrumb-list__item:nth-child(n+2)::before {
  content: ">";
  margin: 0 5px;
}

/*----------
フッター
----------*/
.footer-visual {
  background-image: url(../img/cta.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 259.403px;
  text-align: center;
  padding-top: 70px;
}
.footer-visual__title {
  color: #FFF;
  font-family: YuGothic;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.footer-visual-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-visual-flex__btn {
  min-width: 280px;
  max-width: 480px;
  color: #FFF;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: #F5A623;
  border-radius: 25px;
  border: 1px solid #F5A623;
  padding: 17px;
  margin-bottom: 17px;
}
.footer-visual-flex__contact {
  color: #FFF;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
}
.footer-contact-tel {
  display: grid;
  grid-template-columns: 1fr 298px 1fr;
  align-items: flex-end;
  padding: 23px 0 24px;
}
.footer-contact-tel__text {
  text-align: right;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.footer-contact-tel__link {
  text-align: center;
  font-family: YuGothic;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
.footer-contact-tel__time {
  font-family: YuGothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-nav {
  background-color: #1B224C;
  color: #FFF;
  padding: 34px 0 69px;
}
.footer-nav-flex {
  display: flex;
  justify-content: space-between;
}
.footer-nav-list {
  display: flex;
  padding-top: 8px;
}
.footer-nav-list__item {
  border-right: 1px solid #fff;
  height: 23px;
  margin-right: 21px;
  padding-right: 21px;
}
.footer-nav-list__item:first-of-type {
  padding-left: 4px;
}
.footer-nav-list__item:last-of-type {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.footer-nav-list__item a {
  font-family: YuGothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}
.footer-nav-logo__img {
  background-color: #FFF;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 197px;
  height: 58px;
  margin-bottom: 27px;
  padding: 13px 19px 14px;
}
.footer-nav-logo__tel {
  text-align: right;
  font-family: YuGothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 13px;
}
.footer-nav-logo__tel img {
  margin-right: 5px;
}
.footer-nav-logo__time {
  text-align: right;
  font-family: YuGothic;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
.footer-copyright {
  text-align: right;
  font-family: YuGothic;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding: 11px 0;
}

/*----------
サブメインビジュアル
----------*/
.sub-main-visual {
  text-align: center;
  background-image: url(../img/cta.jpg);
  background-size: cover;
  background-position: center;
  height: 221px;
  padding-top: 95px;
}
.sub-main-visual__title {
  color: #FFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 37px;
}

.contact-content {
  padding-top: 61px;
}
.contact-content-wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.contact-content__title {
  color: #1B224C;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 42px;
}

.contact-form {
  margin-bottom: 79px;
}
.contact-form-list {
  margin-bottom: 39px;
}
.contact-form-list__item {
  margin-bottom: 18px;
}
.contact-form-list__item:nth-of-type(4) {
  margin-bottom: 22px;
}
.contact-form-list__item:nth-of-type(6) {
  margin-bottom: 27px;
}
.contact-form-list__item:nth-of-type(7) {
  text-align: center;
}
.contact-form-list__item:last-of-type {
  margin-bottom: 0;
}
.contact-form-list__item-label {
  display: inline-block;
  color: #1B224C;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
}
.contact-form-list__item-label--check {
  position: relative;
  display: inline-block;
  color: #1B224C;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 6px;
  padding-left: 34px;
  cursor: pointer;
}
.contact-form-list__item-label--check::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
}
.contact-form-list__item-label--check::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #1B224C;
  display: none;
}
.contact-form-list__item-input {
  display: block;
  width: 100%;
  border: 0.5px solid #1B224C;
  padding: 16px 20px 15px;
  color: #1B224C;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
.contact-form-list__item-input::placeholder {
  color: #B4B4B4;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
.contact-form-list__item-text {
  margin-bottom: 27px;
}
.contact-form-list__item-text a {
  color: #F5A623;
  font-family: YuGothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.contact-form__btn {
  text-align: center;
}
.contact-form__btn-submit {
  border-radius: 5px;
  background: #1B224C;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 17px 68px;
}

textarea {
  display: block;
  width: 100%;
  min-height: 240px;
  border: 0.5px solid #1B224C;
  padding: 20px;
  color: #1B224C;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}
textarea::placeholder {
  color: #B4B4B4;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

input[type=radio] {
  display: none;
  appearance: none;
}
input[type=radio]:checked + .radio-list__item-label::after {
  display: block;
}

input[type=checkbox] {
  display: none;
  appearance: none;
}
input[type=checkbox]:checked + .contact-form-list__item-label--check::after {
  display: block;
}

.radio-list {
  padding-top: 5px;
}
.radio-list__item {
  margin-bottom: 10px;
}
.radio-list__item-label {
  position: relative;
  color: #1B224C;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding-left: 39px;
  cursor: pointer;
}
.radio-list__item-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  border-radius: 50%;
}
.radio-list__item-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  display: block;
  width: 10px;
  height: 10px;
  background-color: #1B224C;
  border-radius: 50%;
  display: none;
}/*# sourceMappingURL=contact.css.map */