@charset "UTF-8";
/*----------
共通部分
----------*/
html {
  font-size: 100%;
}

body {
  font-family: YuGothic, sans-serif;
  color: #1B224C;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, dl {
  list-style: none;
}

summary {
  list-style: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

/*----------
ヘッダー
----------*/
.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 10px 0 15px;
  background-color: #fff;
}
.header__logo {
  width: 136px;
  height: 27px;
  line-height: 0;
  margin-right: 30px;
}
.header__menu {
  display: flex;
  gap: 30px;
}
.header__menu-item {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}
.header__contacts {
  display: flex;
  align-items: end;
  margin-left: auto;
}
.header__contacts-text {
  margin-right: 23px;
  text-align: end;
}
.header__contacts-text-time {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}
.header__contacts-text-tel {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.header__contacts-text-tel img {
  margin-right: 5px;
}
.header__contacts-btn {
  display: flex;
  align-items: center;
}
.header__contacts-btn--orange {
  width: 142px;
  line-height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  background-color: #F5A623;
}
.header__contacts-btn--orange a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.header__contacts-btn--blue {
  width: 137px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  background-color: #1B224C;
}
.header__contacts-btn--blue a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

/*----------
メインビジュアル
----------*/
.main-visual {
  text-align: center;
  background-image: url(../img/fv.jpg);
  background-size: cover;
  background-position: center top;
  backdrop-filter: blur(15px);
  height: 476px;
  padding-top: 116px;
}
.main-visual__title {
  color: #FFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 37px;
}
.main-visual__text {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 37px;
}
.main-visual-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-visual-flex__btn {
  min-width: 260px;
  max-width: 460px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: #F5A623;
  border-radius: 31px;
  padding: 22px;
  margin-bottom: 22px;
}
.main-visual-flex__contact {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
}

/*----------
パンくずリスト
----------*/
.breadcrumb {
  background: #F8F8F8;
  line-height: 50px;
}
.breadcrumb-list {
  display: flex;
  color: #1B224C;
  font-size: 12px;
  font-weight: 500;
}
.breadcrumb-list__item--link {
  text-decoration: underline;
}
.breadcrumb-list__item:nth-child(n+2)::before {
  content: ">";
  margin: 0 5px;
}

/*----------
フッター
----------*/
.footer-visual {
  background-image: url(../img/cta.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 259.403px;
  text-align: center;
  padding-top: 70px;
}
.footer-visual__title {
  color: #FFF;
  font-family: YuGothic;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}
.footer-visual-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-visual-flex__btn {
  min-width: 280px;
  max-width: 480px;
  color: #FFF;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: #F5A623;
  border-radius: 25px;
  border: 1px solid #F5A623;
  padding: 17px;
  margin-bottom: 17px;
}
.footer-visual-flex__contact {
  color: #FFF;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
}
.footer-contact-tel {
  display: grid;
  grid-template-columns: 1fr 298px 1fr;
  align-items: flex-end;
  padding: 23px 0 24px;
}
.footer-contact-tel__text {
  text-align: right;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
.footer-contact-tel__link {
  text-align: center;
  font-family: YuGothic;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
.footer-contact-tel__time {
  font-family: YuGothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer-nav {
  background-color: #1B224C;
  color: #FFF;
  padding: 34px 0 69px;
}
.footer-nav-flex {
  display: flex;
  justify-content: space-between;
}
.footer-nav-list {
  display: flex;
  padding-top: 8px;
}
.footer-nav-list__item {
  border-right: 1px solid #fff;
  height: 23px;
  margin-right: 21px;
  padding-right: 21px;
}
.footer-nav-list__item:first-of-type {
  padding-left: 4px;
}
.footer-nav-list__item:last-of-type {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
.footer-nav-list__item a {
  font-family: YuGothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}
.footer-nav-logo__img {
  background-color: #FFF;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 197px;
  height: 58px;
  margin-bottom: 27px;
  padding: 13px 19px 14px;
}
.footer-nav-logo__tel {
  text-align: right;
  font-family: YuGothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 13px;
}
.footer-nav-logo__tel img {
  margin-right: 5px;
}
.footer-nav-logo__time {
  text-align: right;
  font-family: YuGothic;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
.footer-copyright {
  text-align: right;
  font-family: YuGothic;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding: 11px 0;
}

.section {
  padding-top: 63px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.about {
  background-color: #1B224C;
  padding-bottom: 54px;
}
.about .section-title {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 55px;
}
.about-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 76px;
}
.about-list__item {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.about-box {
  position: relative;
  background-color: #FFF;
  height: 248px;
  padding-top: 29px;
}
.about-box::before {
  content: "";
  position: absolute;
  inset: 11px 16px 12px 16px;
  border: 5px solid #1B224C;
}
.about-box__title {
  position: relative;
  display: flex;
  max-width: 900px;
  width: 100%;
  height: 95px;
  flex-direction: column;
  justify-content: center;
  color: #1B224C;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 28px;
}
.about-box__text {
  color: #1B224C;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 27px */
}

.under-line {
  position: relative;
  z-index: 1;
}
.under-line::before {
  position: absolute;
  content: "";
  left: -4px;
  bottom: 5px;
  display: inline-block;
  max-width: 449px;
  width: 100%;
  height: 9px;
  background-color: #F5A623;
  z-index: -1;
}

.feature {
  padding-bottom: 39px;
}
.feature .section-title {
  margin-bottom: 53px;
}
.feature-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}
.feature-box__detail {
  width: 55.556%;
}
.feature-box__detail-tag {
  display: inline-block;
  width: 91px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  background-color: #F5A623;
  margin-bottom: 37px;
}
.feature-box__detail-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 66px;
  color: #1B224C;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 37px;
}
.feature-box:nth-of-type(2) {
  flex-direction: row-reverse;
}
.feature-box:nth-of-type(3) {
  margin-bottom: 93px;
}
.feature-box:nth-of-type(3) .feature-box__detail-title {
  height: 36px;
}
.feature-box__img {
  width: 38.889%;
}

.rate-plan-box {
  background-image: url(../img/price.jpg);
  height: 217px;
  border: 1px solid #707070;
  text-align: center;
  padding-top: 61px;
}
.rate-plan-box__title {
  color: #FFF;
  font-family: YuGothic;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 27px;
}
.rate-plan-box__btn {
  display: inline-block;
  color: #FFF;
  padding: 17px 44px;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  border: 1px solid #FFF;
  border-radius: 30px;
}

.case-study {
  background-color: #1B224C;
  padding-bottom: 60px;
}
.case-study .section-title {
  color: #FFF;
  margin-bottom: 129px;
}
.case-study-list {
  display: flex;
  justify-content: space-between;
}
.case-study-list__item {
  width: 100%;
  max-width: 280px;
}
.case-study-list__item-text {
  width: 100%;
  max-width: 280px;
  color: #FFF;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}
.case-study-list__item-img {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 171px;
  background: #FFF;
  margin-bottom: 16px;
}
.case-study-list__item-img img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.case-study-list__item-profile {
  display: flex;
  flex-wrap: wrap;
}
.case-study-list__item-profile-occupation {
  background-color: #FFF;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 8px 42px 8px 10px;
  margin: 0 8px 10px 0;
}
.case-study-list__item-profile-name {
  background-color: #FFF;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 8px 10px;
  width: 100%;
  max-width: 172px;
  margin-bottom: 10px;
}
.case-study-list__item-profile-result {
  background-color: #FFF;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 8px 10px;
  width: 100%;
}

.usage-flow {
  margin-bottom: 59px;
}
.usage-flow .section-title {
  margin-bottom: 46px;
}
.usage-flow-list__item {
  display: flex;
  min-height: 64px;
  margin-bottom: 8px;
}
.usage-flow-list__item-num {
  background-color: #F5A623;
  color: #FFF;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 64px;
  width: 64px;
  text-align: center;
}
.usage-flow-list__item-title {
  position: relative;
  background-color: #F8F8F8;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 18px;
  font-weight: 700;
  line-height: 64px;
  padding-left: 20px;
  width: 100%;
  max-width: 215px;
}
.usage-flow-list__item-title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 29px;
  background-color: #C3C3C3;
}
.usage-flow-list__item-text {
  background-color: #F8F8F8;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 64px;
  padding-left: 50px;
  width: 100%;
  max-width: 620px;
}

.faq {
  margin-bottom: 90.5px;
}
.faq .section-title {
  margin-bottom: 48px;
}

.faq-list__item-q {
  position: relative;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 22px 50px 22px 0;
  border-top: 1px solid #1B224C;
}
.faq-list__item-q::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 25px;
  height: 3px;
  background-color: #1B224C;
  transition: 0.4s;
}
.faq-list__item-q::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 3px;
  background-color: #1B224C;
  transition: 0.4s;
}
.faq-list__item-a {
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 19px 20px;
  background: #F8F8F8;
  margin-bottom: 15.5px;
}
.faq-list__item:last-of-type {
  border-bottom: 1px solid #1B224C;
}

details[open] .faq-list__item-q::before {
  transform: rotate(0);
}

details[open] .faq-list__item-q::after {
  opacity: 0;
}

.blog-notice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 119px;
}
.blog-notice-title {
  color: #1B224C;
  font-family: YuGothic;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 33px;
}

.blog-box {
  width: 100%;
  max-width: 46.5%;
}

.blog-list__item {
  display: flex;
  gap: 20px;
  margin-bottom: 31px;
}
.blog-list__item:last-of-type {
  margin-bottom: 0;
}
.blog-list__item-img {
  position: relative;
  width: 100%;
  max-width: 150px;
  height: 110px;
}
.blog-list__item-img-category {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1B224C;
  border: 1px solid #707070;
  color: #FFF;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 5px 9px;
}
.blog-list__item-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.blog-list__item-text {
  display: flex;
  flex-direction: column;
}
.blog-list__item-text-link {
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration-line: underline;
}
.blog-list__item-text-time {
  margin-top: auto;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.notice-box {
  width: 100%;
  max-width: 44.8%;
}

.notice-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
}
.notice-list__item:last-of-type {
  margin-bottom: 0;
}
.notice-list__item-date {
  display: inline-block;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 13px;
}
.notice-list__item-link {
  position: relative;
  color: #1B224C;
  font-family: YuGothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-decoration-line: underline;
}/*# sourceMappingURL=style.css.map */