/*----------
共通部分
----------*/
html {
  font-size: 100%;
}
body {
 font-family: YuGothic, sans-serif;
 color: #1B224C;
}
*, *::before, *::after {
 box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, ol, dl {
  list-style: none;
}
summary {
	list-style: none;
	cursor: pointer;
}
summary::-webkit-details-marker {
	display: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}