/*----------
共通部分
----------*/
html {
  font-size: 100%;
}
body {
 font-family: YuGothic, sans-serif;
 color: #1B224C;
}
*, *::before, *::after {
 box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.section {
  padding-top: 63px;
  &-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
}
