/*----------
ヘッダー
----------*/
.header {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 10px 0 15px;
  background-color: #fff;
  z-index: 2;
  &__logo {
    width: 136px;
    height: 27px;
    line-height: 0;
    margin-right: 30px;
    & a {
      display: block;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__menu {
    display: flex;
    gap: 30px;
    &-item {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1;
      & a {
        color: #1B224C;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: end;
    margin-left: auto;
    &-text {
      margin-right: 23px;
      text-align: end;
      &-time {
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 10px;
      }
      &-tel {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        & img {
          margin-right: 5px;
        }
      }  
    }
    &-btn {
      display: flex;
      align-items: center;
      &--orange {
        width: 142px;
        line-height: 50px;
        border-radius: 5px;
        margin-right: 10px;
        text-align: center;
        background-color: #F5A623;
        & a {
          display: block;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      &--blue {
        width: 137px;
        line-height: 50px;
        border-radius: 5px;
        text-align: center;
        background-color: #1B224C;
        & a {
          display: block;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  & + .breadcrumb {
    margin-top: 80px;
  }
}

/*----------
メインビジュアル
----------*/
.main-visual {
  text-align: center;
  background-image: url(../img/fv.jpg);
  background-size: cover;
  background-position: center top;
  backdrop-filter: blur(15px);
  height: 476px;
  padding-top: 116px;
  margin-top: 80px;
  &__title {
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 37px;
  }
  &__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(27px / 18px);
    margin-bottom: 37px;
  }
  &-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__btn {
      min-width: 260px;
      max-width: 460px;
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      background-color: #F5A623;
      border: 1px solid #F5A623;
      border-radius: 31px;
      padding: 21px;
      margin-bottom: 22px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 5px 20px 0 #00000027;
      }
    }
    &__contact {
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-decoration-line: underline;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
        text-decoration-line: none;
      }
    }  
  }
}

/*----------
パンくずリスト
----------*/
.breadcrumb {
  background:#F8F8F8;
  line-height: 50px;
  &-list {
    display: flex;
    color: #1B224C;
    font-size: 12px;
    font-weight: 500;
    &__item {
      &--link {
        text-decoration: underline;
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
          text-decoration-line: none;
        }
      }
      &:nth-child(n+2)::before {
        content: ">";
        margin: 0 5px;
      }
    }
  }
}