@charset "UTF-8";
@use "_common.scss";
@use "_header.scss";
@use "_footer.scss";

/*----------
サブメインビジュアル
----------*/
.sub-main-visual {
  text-align: center;
  background-image: url(../img/cta.jpg);
  background-size: cover;
  background-position: center;
  height: 221px;
  padding-top: 95px;
  margin-top: 80px;
  &__title {
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 37px;
  }
}

.contact-content {
  padding-top: 61px;
  &-wrapper {
    max-width: 700px;
    margin: 0 auto;  
  }
  &__title {
    color: #1B224C;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 42px;
  }
}
.contact-form {
  margin-bottom: 79px;
  &-list {
    margin-bottom: 39px;
    &__item {
      margin-bottom: 18px;
      &:nth-of-type(4) {
        margin-bottom: 22px;
      }
      &:nth-of-type(6) {
        margin-bottom: 27px;
      }
      &:nth-of-type(7) {
        text-align: center;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &-label {
        display: inline-block;
        color: #1B224C;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 6px;
        &--check {
          position: relative;
          display: inline-block;
          color: #1B224C;
          font-size: 16px;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 6px;
          padding-left: 34px;
          user-select: none;
          cursor: pointer;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #707070;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5px;
            width: 10px;
            height: 10px;
            background-color: #1B224C;
            display: none;
          }
        }
      }
      &-input {
        display: block;
        width: 100%;
        border: 0.5px solid #1B224C;
        padding: 16px 20px 15px;
        color: #1B224C;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        &::placeholder {
          color: #B4B4B4;
          font-size: 12px;
          font-weight: 500;
          line-height: normal;  
        }
      }
      &-text {
        margin-bottom: 27px;
        & a {
          color: #F5A623;
          font-family: YuGothic;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration-line: underline;
          transition: 0.3s;
          &:hover {
            opacity: 0.7;
            text-decoration-line: none;
          }
        }
      } 
    }
  }
  &__btn {
    text-align: center;
    &-submit {
      border-radius: 5px;
      background: #1B224C;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      padding: 17px 68px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

textarea {
  display: block;
  width: 100%;
  min-height: 240px;
  border: 0.5px solid #1B224C;
  padding:20px;
  color: #1B224C;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  &::placeholder {
    color: #B4B4B4;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;  
  }
}


// ラジオボタンデザイン変更
input[type=radio] {
  display: none;
  appearance: none;
  &:checked + .radio-list__item-label::after {
    display: block;
  }
}

input[type=checkbox] {
  display: none;
  appearance: none;
  &:checked + .contact-form-list__item-label--check::after {
    display: block;
  }
}

.radio-list {
  padding-top: 5px;
  &__item {
    margin-bottom: 10px;
    &-label {
      position: relative;
      color: #1B224C;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      padding-left: 39px;
      cursor: pointer;
      user-select: none;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #707070;
        border-radius: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        display: block;
        width: 10px;
        height: 10px;
        background-color: #1B224C;
        border-radius: 50%;
        display: none;
      }
    }
  }
}

.thanks {
  text-align: center;
  padding-top: 85px;
  margin-bottom: 78px;
  &__title {
    color: #1B224C;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 83px;
  }
  &__btn {
    & a {
      color: #1B224C;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-decoration-line: underline;
      transition: 0.3s;
      &:hover {
        opacity: 0.7;
        text-decoration-line: none;
      }
    }
  }
}