@charset "UTF-8";
@use "_common.scss";
@use "_header.scss";
@use "_footer.scss";

.main-visual {
  text-align: center;
  background-image: url(../img/fv.jpg);
  background-size: cover;
  background-position: center top;
  backdrop-filter: blur(15px);
  height: 476px;
  padding-top: 116px;
  &__title {
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 37px;
  }
  &__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(27px / 18px);
    margin-bottom: 37px;
  }
  &-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__btn {
      min-width: 260px;
      max-width: 460px;
      color: #FFF;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      background-color: #F5A623;
      border-radius: 31px;
      padding: 22px;
      margin-bottom: 22px;
    }
    &__contact {
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-decoration-line: underline;
    }  
  }
}

.about {
  background-color: #1B224C;
  padding-bottom: 54px;
  .section-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 55px;
  }
  &-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 76px;
    &__item {
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 2;
    }
  }
  &-box {
    position: relative;
    background-color: #FFF;
    height: 248px;
    padding-top: 29px;
    &::before {
      content: "";
      position: absolute;
      inset: 11px 16px 12px 16px;
      border: 5px solid #1B224C;
    }
    &__title {
      position: relative;
      display: flex;
      max-width: 900px;
      width: 100%;
      height: 95px;
      flex-direction: column;
      justify-content: center;
      color: #1B224C;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: calc(54px / 36px);
      margin-bottom: 28px;
    }
    &__text {
      color: #1B224C;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: calc(27px / 18px); /* 27px */
    }
  }
}
.under-line {
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    left: -4px;
    bottom: 5px;
    display: inline-block;
    max-width: 449px;
    width: 100%;
    height: 9px;
    background-color: #F5A623;
    z-index: -1;
  }
}

.feature {
  padding-bottom: 39px;
  .section-title {
    margin-bottom: 53px;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
    &__detail {
      width: 55.556%;
      &-tag {
        display: inline-block;
        width: 91px;
        line-height: 30px;
        text-align: center;
        color: #FFF;
        font-size: 12px;
        font-weight: 500;
        background-color: #F5A623;
        margin-bottom: 37px;
      }
      &-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 66px;
        color: #1B224C;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 37px;
      }
    }
    &:nth-of-type(2) {
      flex-direction: row-reverse;
    }
    &:nth-of-type(3) {
      margin-bottom: 93px;
      .feature-box__detail-title {
        height: 36px;
      }
    }
    &__img {
      width: 38.889%;

    }
  }
}
.rate-plan-box {
  background-image: url(../img/price.jpg);
  height: 217px;
  border: 1px solid #707070;
  text-align: center;
  padding-top: 61px;
  &__title {
    color: #FFF;
    font-family: YuGothic;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 27px;
  }
  &__btn {
    display: inline-block;
    color: #FFF;
    padding: 17px 44px;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    border: 1px solid #FFF;
    border-radius: 30px;
  }
}

.case-study {
  background-color: #1B224C;
  padding-bottom: 60px;
  .section-title {
    color: #FFF;
    margin-bottom: 129px;
  }
  &-list {
    display: flex;
    justify-content: space-between;
    &-item {
      width: 100%;
      max-width: 280px;
      &__text {
        width: 100%;
        max-width: 280px;
        color: #FFF;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 700;
        line-height: calc(24px / 16px);
        margin-bottom: 12px;
      }
      &__img {
        position: relative;
        width: 100%;
        max-width: 280px;
        height: 171px;
        background: #FFF;
        margin-bottom: 16px;
        & img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &__profile {
        display: flex;
        flex-wrap: wrap;
        &-occupation {
          background-color: #FFF;
          color: #1B224C;
          font-family: YuGothic;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          padding: 8px 42px 8px 10px;
          margin: 0 8px 10px 0;
        }
        &-name {
          background-color: #FFF;
          color: #1B224C;
          font-family: YuGothic;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          padding: 8px 10px;
          width: 100%;
          max-width: 172px;
          margin-bottom: 10px;
        }
        &-result {
          background-color: #FFF;
          color: #1B224C;
          font-family: YuGothic;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;
          padding: 8px 10px;
          width: 100%;
        }
      }
    }
  }
}

.usage-flow {
  margin-bottom: 59px;
  .section-title {
    margin-bottom: 46px;
  }
  &-list-item {
    display: flex;
    min-height: 64px;
    margin-bottom: 8px;
    &__num {
      background-color: #F5A623;
      color: #FFF;
      font-family: YuGothic;
      font-size: 16px;
      font-weight: 700;
      line-height: 64px;
      width: 64px;
      text-align: center;
    }
    &__title {
      position: relative;
      background-color: #F8F8F8;
      color: #1B224C;
      font-family: YuGothic;
      font-size: 18px;
      font-weight: 700;
      line-height: 64px;
      padding-left: 20px;
      width: 100%;
      max-width: 215px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 29px;
        background-color: #C3C3C3;
      }
    }
    &__text {
      background-color: #F8F8F8;
      color: #1B224C;
      font-family: YuGothic;
      font-size: 16px;
      font-weight: 500;
      line-height: 64px;
      padding-left: 50px;
      width: 100%;
      max-width: 620px;
    }
  }
}

.faq {
  margin-bottom: 90.5px;
  .section-title {
    margin-bottom: 48px;
  }
}
.faq-list-item {
  &__q {
    position: relative;
    color: #1B224C;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 22px 50px 22px 0;
    border-top: 1px solid #1B224C;
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      width: 25px;
      height: 3px;
      background-color: #1B224C;
      transition: 0.4s;
    }
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 3px;
      background-color: #1B224C;
      transition: 0.4s;
    }
  }
  &__a {
    color: #1B224C;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 19px 20px;
    background: #F8F8F8;
    margin-bottom: 15.5px;
  }
  &:last-of-type {
    border-bottom: 1px solid #1B224C;
  }
}
details[open] .faq-list-item__q::before {
    transform: rotate(0);
}
details[open] .faq-list-item__q::after {
  opacity: 0;
}

.blog-notice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 119px;
  &-title {
    color: #1B224C;
    font-family: YuGothic;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 33px;
  }
}
.blog-box {
  width: 100%;
  max-width: 46.5%;
}
.blog-list {
  &-item {
    display: flex;
    gap: 20px;
    margin-bottom: 31px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &__img {
      position: relative;
      width: 100%;
      max-width: 150px;
      height: 110px;
      &-tag {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1B224C;
        border: 1px solid #707070;
        color: #FFF;
        font-family: YuGothic;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        padding: 5px 9px;
      }
      & img {
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    } 
    &__text {
      display: flex;
      flex-direction: column;
      &-link {
        color: #1B224C;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 700;
        line-height: calc(24px / 16px);
        text-decoration-line: underline;
      }
      &-time {
        margin-top: auto;
        color: #1B224C;
        font-family: YuGothic;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

.notice-box {
  width: 100%;
  max-width: 44.8%;
}
.notice-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__time {
    display: inline-block;
    color: #1B224C;
    font-family: YuGothic;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 13px;
  }
  &__link {
    position: relative;
    color: #1B224C;
    font-family: YuGothic;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-decoration-line: underline;
  }
}